<div class="login-form-container">
    <div class="row">
        <div class="login-logo">
            <a routerLink="/">
                <label>Voting Appliction</label>
            </a>
           
            <p>Get Started with Online Voting</p>
        </div>

        <div class="login-form-component">
            <form action="" class="login-form-component">
                
                <label for="">Email</label>
                <input class="login-form-control" placeholder="Enter Your Email" type="email" required/>
                <label for="">Password</label>
                <input class="login-form-control" placeholder="Enter Your Password" type="password" required/>
               
             
                <button class="login-btn-control">
                    Login
                </button>
               
                <p class="login-paragraph">Don't have an account? <a routerLink="/signup">Sign Up</a></p>
            </form>

        </div>

        <div class="login-up-image">
        <img class="login-right-side-img" src="../../../assets/img/signUp.png"/>
        </div>
    </div>
</div>