<div class="login-form-container">
    <div class="row">
        <div class="login-logo">  
            <p>Reset Password</p>
        </div>

        <div class="login-form-component">
            <form action="" class="login-form-component">
                
                <label for="">Password</label>
                <input class="login-form-control" placeholder="Enter New Password" type="email" required/>
                <label for="">Confirm Password</label>
                <input class="login-form-control" placeholder="Confirm Your Password" type="password" required/>
               
             
                <button class="login-btn-control">
                    Reset Password
                </button>
               
            </form>

        </div>

        <div class="login-up-image">
        <img class="login-right-side-img" src="../../../assets/img/signUp.png"/>
        </div>
    </div>
</div>