
    <nav>
        <div class="logo">
            <a class="links-logo" href="#">Voting Application</a>
        </div>
       <div class="menu-itmes">
        <a href="#" class="nav-link">Home</a>
        <a href="#" class="nav-link">Feature</a>
        <a href="#" class="nav-link">About</a>
        <a href="#" class="nav-link">Contact Us</a>
        </div>
        <div class="loginbtn">
            <label><a routerLink="/login">login</a></label>
               <a  routerLink="/signup">
                <button class="btn"  (click)="btnClick">
                    Create Account
                </button>
               </a> 
                
        </div>
      </nav>
      <app-first-container></app-first-container>
      <app-second-container></app-second-container>
      <app-footer></app-footer>
   
 
   
 
  



