<div class="container">
    <!---  Parent Footer Here  -->

  <div class="parent-footer">

     
         <h1>Subscribe on our Newsletter</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus in orci quis eleifend id. Adipiscing cras scelerisque 
        aliquet nisi, velit, aliquam tortor vestibulum.</p>
     

     
         <form class="form-control" action="">
             <input class="form-input" type="text"/>
             <button class="btn-footer">Subscribe</button>
         </form>
        <p>We will never spam you. Only useful mails with promo and events</p>
   

   </div>

    <!---  Sub Footer Here  -->

    <div class="sub-footer">
           <div class="left-text">
            <label>Voting Application</label>
            <p>© 2022 All rights reserved</p> 
           </div>
        
        <div class="footer-menu">
            
            <a class="first-list" href="#">Home</a>
            <a  class="first-list" href="#">Feature</a>
            <a  class="first-list" href="#">Contact Us</a>
            
            
        

        <div class="second-list">
            <a class="second-list" href="#">Privacy Policy</a>
            <a class="second-list" href="#">Terms of Conditions</a>
            <a class="second-list" href="#">Legal</a>
            <a class="second-list" href="#">Help</a>
        </div>

        </div>

        <div class="social-media-icon">
            <p>English version</p>
        </div>


  </div>

</div>