
<div class="second-container">
    <div class="container-item">

      <div class="right-side-text">
        <label class="text-header">
          How it works
        </label>
      
        <div class="step-one">
           <p>STEP ONE</p> 
          <h2>Sign in or Sign up your account</h2>
        </div>
  
        <div class="step-two">
          <p>STEP TWO</p>
          <h2>Select a candidate of your choice to vote</h2>
        </div>
  
  
        <div class="step-three">
          <p>STEP THREE</p>
          <h2>Vote your candidate of your choice</h2>
        </div>
      </div>
      
      
        <img class="right-image" alt="Image" src="../../../../assets/img/images.png"/>
    

    </div>

    
    
    <div class="first-card-component">
        <div class="first-frame">
          <p>Adekola Johnson</p>
          <label>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat eget ipsum, 
            sed praesent. Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </label>  
        </div>
        <div class="second-frame">
            <p>Adekola Johnson</p>
            <label>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat eget ipsum, 
              sed praesent. Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </label>  
        </div>

        <div class="third-frame">
            <p>Adekola Johnson</p>
            <label>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat eget ipsum, 
              sed praesent. Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </label>  
        </div>
     </div>

     <div class="second-card-component">   
        <div class="fouth-frame">
            <p>Adekola Johnson</p>
            <label>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat eget ipsum, 
              sed praesent. Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </label>  
        </div>
        <div class="fifth-frame">
            <p>Adekola Johnson</p>
            <label>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat eget ipsum, 
              sed praesent. Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </label>  
        </div>
        <div class="sixth-frame">
            <p>Adekola Johnson</p>
            <label>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat eget ipsum, 
              sed praesent. Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </label>  
        </div>
    </div>
</div>

