 <div class="sub-conatainer">
        <div class="container">
        <label class="first-text">
            Quick and easy voting platform to vote a  candidate of your choice 
        </label>

        <label class="second-text">
            Save time following queu while casting your vote without any distraction 
            anytime & anyday.
        </label>
        <a routerLink="/signup">
            <button class="btns">Create Account</button>
        </a>
        

        <div class="container-image">
            <img src=""/>
        </div>

    </div>
    
</div>









